<%- include('partials/headerAdm') %> 

	<main>
		<div class="titulo">
				<h1 id="titulo-page">
					CADASTRO DE PRODUTOS
				</h1>
				<a class="btn-flat" href="/admin/produtos/criar">Adicionar Produto</a>
				<a class="btn-flat" href="/admin/produtos/categorias">Lista de Categorias</a>
		</div>
		
		
		<hr>
		<div>
			<div id="search-div">
				<form method="get">
					<input type="search" name="search" id="search">
					<button type="submit">Search</button>
				</form>
			</div>
		</div>
		<div class="teste">
			<% if(produtos.length> 0){ %>
				<div class="form" id="formulario">
					<div class="table-container">
						<table id="tbl-01">
							<thead>
								<tr>
									<th>ID</th>
									<th class="fotos">Foto</th>
									<th>Nome</th>
									<th>Valor</th>
									<th class="th-hide">Categoria</th>
									<th>Fornecedor</th>
									<th>Safra</th>
									<th> Opções</th>
								</tr>
							</thead>
							<tbody>
								<% for(let produto of produtos) { %>
									<tr>
										<td> <%= produto.id %></td>
										<td> <img id="img-lista-produto-admin" src="/images/imageProd/<%= produto.imagem%>.png"</td>
										<td><%= produto.nome %></td>
										<td><%= produto.valor.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'})%></td>
										<td class="th-hide"><%= produto.categoria.nome%></td>
										<td><%= produto.fornecedor.nome %></td>
										<td><%= produto.safra %></td>
										<td class="opcoes-crud"> 
											<a id="editar-button" href="/admin/produtos/editar/<%= produto.id %>">Editar</a> 
											<form action="/admin/produtos/<%= produto.id %>?_method=DELETE" method="post">
												<button type="submit">Deletar</button>
											</form>
										</td>
									</tr>
								<% } %>
							</tbody>
	
						</table>
					</div>
				</div>
				<% } else { %>
					<h2 class="error-alert">NENHUM PRODUTO FOI ENCONTRADO :(</h2>
				<%} %>
		</div>
	</main>
	<!--JavaScript-->
	<script src="/js/menu-footer.js"></script>
	<!--end JavaScript-->
	<%-include("partials/footer")%>