<%- include('partials/headerAdm') %> 

	<main>
		<div class="titulo">
				<div>
					<h1 id="titulo-page">
						CADASTRO DE USUÁRIOS
					</h1>	
				</div>
				<div class="nav-btn-admin">
					<a class="btn-flat" href="/admin/usuarios/criar">Adicionar Usuário</a>
					<a class="btn-flat" href="/admin/produtos/categorias">Lista de Categorias</a>
					<a class="btn-flat" href="/admin/usuarios">Lista de Usuários</a>
					<a class="btn-flat" href="/admin">Painel de Admin</a>
					<div id="search-div">
						<form method="get">
							<input type="search" name="search" id="search">
							<button id="search-button" type="submit">Search</button>
						</form>
					</div>
				</div>
		</div>		
		<hr>
		
		<div class="teste">
			<% if(usuarios.length> 0){ %>
				<div class="form" id="formulario">
					<div class="table-container">
						<table id="tbl-01">
							<thead>
								<tr>
									<th>ID</th>
									<th class="fotos">Foto</th>
									<th>Nome</th>
									<th>Email</th>
									<th class="th-hide">CPF</th>
									<th>Data de Nascimento</th>
									<th>Permissão</th>
								</tr>
							</thead>
							<tbody>
								<% for(let usuario of usuarios) { %>
									<tr>
										<td> <%= usuario.id %></td>
										<td> <img id="img-lista-produto-admin" src="/images/imageProfile/<%=usuario.imageProfile%>"</td>
										<td><%= usuario.nome %></td>
										<td><%= usuario.email%></td>
										<td><%= usuario.cpf %></td>
										<td><%= usuario.data_nascimento %></td>
										<td><%= usuario.isAdmin %></td>
										<td class="opcoes-crud"> 
											<a id="editar-button" href="/admin/usuarios/editar/<%= usuario.id %>">Editar</a> 
											<form action="/admin/usuarios/<%= usuario.id %>?_method=DELETE" method="post">
												<button id="deletar-button" type="submit">Deletar</button>
											</form>
										</td>
									</tr>
								<% } %>
							</tbody>
	
						</table>
					</div>
				</div>
				<% } else { %>
					<h2 class="error-alert">NENHUM PRODUTO FOI ENCONTRADO :(</h2>
				<%} %>
		</div>
	</main>
	<!--JavaScript-->
	<script src="/js/menu-footer.js"></script>
	<!--end JavaScript-->
	<%-include("partials/footer")%>