<%- include('partials/headerAdm') %> 

	<main>
		<div class="titulo">
			<div>
				<h1 id="titulo-page">
					CADASTRO DE PRODUTOS
				</h1>	
			</div>
			<div class="nav-btn-admin">
				<a class="btn-flat" href="/admin/produtos/criar">Adicionar Produto</a>
				<a class="btn-flat" href="/admin/produtos/categorias">Lista de Categorias</a>
				<a class="btn-flat" href="/admin/users">Lista de Usuários</a>
				<a class="btn-flat" href="/admin">Painel de Admin</a>
				<div id="search-div">
					<form id="search" method="get">
						<input type="search" name="search" id="search">
						<button id="search-button" type="submit">Search</button>
					</form>
				</div>
			</div>
	</div>
		
		
		<hr>
		
		<div class="teste">
			<% if(categorias.length> 0){ %>
				<div class="form" id="formulario">
					<div class="table-container">
						<table id="tbl-01">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nome</th>
									<th> Opções</th>
								</tr>
							</thead>
							<tbody>
								<% for(let categoria of categorias) { %>
									<tr>
										<td> <%= categoria.id %></td>
										<td><%= categoria.nome %></td>
										<td class="opcoes-crud"> 
											<a id="editar-button" href="/admin/produtos/categorias/editar/<%= categoria.id %>">Editar</a> 
											<form action="/admin/produto/<%= categoria.id %>?_method=DELETE" method="post">
												<button id="deletar-button" type="submit">Deletar</button>
											</form>
										</td>
									</tr>
								<% } %>
							</tbody>
	
						</table>
					</div>
				</div>
				<% } else { %>
					<h2 class="error-alert">NENHUMA CATEGORIA FOI ENCONTRADA :(</h2>
				<%} %>
		</div>
	</main>
	<!--JavaScript-->
	<script src="/js/menu-footer.js"></script>
	<!--end JavaScript-->
	<%-include("partials/footer")%>