<%- include('partials/header') %> 

<!--MAIN-->
    <main id="products">
        <!--Prdutos-->
        <section class="products">
            <aside class="products__categories">                
                <h2 class="products__categories__title">Categorias</h2>                

                <ul class="products__categories__links">
                    <li class="products__categories__link"><a href="/produtos/Vinho Tinto">Tinto</a></li>
                    <li class="products__categories__link"><a href="/produtos/Vinho Branco">Branco</a></li>
                    <li class="products__categories__link"><a href="/produtos/Vinho Rose">Rose</a></li>
                    <li class="products__categories__link"><a href="/produtos/Espumante">Espumante</a></li>
                    <li class="products__categories__link"><a href="/produtos">Todos </a></li>
                </ul>
            </aside>

            <div class="products__wines">
                <div class="products__content">
                    <% for(produto of vinhoCategoria) { %>
                    <article class="products__item">
                        <header>
                            <figure class="products__item__image">
                                <img src="/images/tela-produtos/<%= produto.imagem %>.png" alt="Vinho Tinto">
                            </figure>
                            
                            <button class="products__item__buy" id="<%= produto.id %>">
                                <a href="/produto-interno">Comprar</a>
                            </button>
                        </header>
                        <footer>
                            <span class="products__item__name"><%= produto.nome%> (<%= produto.categoria%>)</span>
                            <span class="products__item__price"><%= produto.valor%></span>
                        </footer>
                    </article>
                    <% } %>
                </div>
            </div>
        </section>

        <!--Link to Top-->
        <a class="link-top" href="#products">
            <i class="fas fa-arrow-up"></i>
        </a>
    </main>
    <!--end MAIN-->

    <!--JavaScript-->
    <script src="/js/menu-footer.js"></script>
    <!--end JavaScript-->

<%- include('partials/footer') %> 