<%- include('partials/header') %> 

<!--MAIN-->
    <main id="products">
        <!--Prdutos-->
        <section class="products">
            <aside class="products__categories">                
                <h2 class="products__categories__title">Categorias</h2>                

                <ul class="products__categories__links">
                    <li class="products__categories__link"><a href="">Tinto</a></li>
                    <li class="products__categories__link"><a href="">Branco</a></li>
                    <li class="products__categories__link"><a href="">Rose</a></li>
                    <li class="products__categories__link"><a href="">Espumante</a></li>
                </ul>
            </aside>

            <div class="products__wines">
                <div class="products__content">
                    <% for(produto of produtos) { %>
                    <article class="products__item">
                        <header>
                            <figure class="products__item__image">
                                <img src="/images/tela-produtos/<%= produto.imagem[0]%>.png" alt="Vinho Tinto">
                            </figure>
                            

                            <button class="products__item__buy">
                                <a href="/produto-interno">Comprar</a>
                            </button>
                        </header>

                        <footer>
                            <span class="products__item__name"><%= produto.nome%></span>
                            <span class="products__item__price"><%= produto.valor%></span>
                        </footer>
                    </article>
                    <% } %>

                    <!-- <article class="products__item">
                        <header>
                            <figure class="products__item__image">
                                <img src="/images/tela-produtos/2-corralillo.png" alt="Vinho Tinto">
                            </figure>

                            <button class="products__item__buy">
                                <a href="/produto-interno">Comprar</a>
                            </button>
                        </header>

                        <footer>
                            <span class="products__item__name">Matetic Corralillo</span>
                            <span class="products__item__price">R$ 75,50</span>
                        </footer>
                    </article> -->

                    <!-- <article class="products__item">
                        <header>
                            <figure class="products__item__image">
                                <img src="/images/tela-produtos/3-cierre-beaugrey.png" alt="Vinho Branco">
                            </figure>

                            <button class="products__item__buy">
                                <a href="/produto-interno">Comprar</a>
                            </button>
                        </header>

                        <footer>
                            <span class="products__item__name">Vistamar Brisa</span>
                            <span class="products__item__price">R$ 85,80</span>
                        </footer>
                    </article> -->

                    <!-- <article class="products__item">
                        <header>
                            <figure class="products__item__image">
                                <img src="/images/tela-produtos/4-poderi-nespoli.png" alt="Vinho Branco">
                            </figure>

                            <button class="products__item__buy"><a href="/produto-interno">Comprar</a></button>
                        </header>

                        <footer>
                            <span class="products__item__name">Rio Flor Douro</span>
                            <span class="products__item__price">R$ 80,50</span>
                        </footer>
                    </article> -->
                </div>
            </div>
        </section>

        <!--Link to Top-->
        <a class="link-top" href="#products">
            <i class="fas fa-arrow-up"></i>
        </a>
    </main>
    <!--end MAIN-->

    <!--JavaScript-->
    <script src="/js/menu-footer.js"></script>
    <!--end JavaScript-->

<%- include('partials/footer') %> 