<%- include('partials/header') %> 
   
    <!--MAIN-->
    <main>
        <section class="container">
            <header class="container__img_prod">
                <img src="/images/tela-produtos/<%=produto.imagem%>.png" alt="">
            </header>
            <section class="container__desc_prod">
                <h1>
                    <%= produto.nome %>
                </h1>
                <h2>15% OFF</h2>
                <p>R$<%= produto.valor %></p>
                <form action="/produtos/produto-interno/<%= produto.id %>" method="POST" class="form" id="formulario" enctype="multipart/form-data">
                    <button type="submit" id="btn-submit" class="botao-adiciona" >Adicionar no carrinho</button>
                </form>

            </section>
        </section>
    </main>
    <!--end MAIN-->
    <script src="../js/main.js"></script>
    <script src="../js/menu-footer.js"></script>

<%- include('partials/footer') %> 